*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    margin: 0 auto;
    width: 60%;
    font-size: 18px;
    font-family:  'Arial Narrow', Arial, sans-serif;
}

.avatar{
    max-width: 200px;
    padding-bottom: 30px;
}

.spisok{
padding-bottom: 20px;
}

.h4{
font-size: 20px;
font-weight: 900;
padding-bottom: 10px;
}

.section_1{
background: #FCDD76;
padding: 20px;
}
.section_2{
background: #FDEAA8 ;
padding: 20px;
}

li{
    list-style-type: none;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 26px;
font-weight: 900;
padding-bottom: 20px;
}

h3{
    font-size: 23px;
font-weight: 900;
padding-bottom: 30px;
}

.footer {
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background: #fcbb59;
  }

  .rss-logo {
    display: block;
    width: 100px;
    height: 50px;
    background: url(image/rs_school_js.svg) center no-repeat;
    background-size: contain;
  }
